example/hide.png
example/hide.jpg
example/reveal.png
example/reveal.jpg
example/png/result1.png
example/png/result2.png
example/png2/result1.png
example/png2/result2.png
example/jpg/result1.jpg
example/jpg/result2.jpg